:root {
    --erdbeerrot: #B70D18;
    --immergruen: #00712E;
    --lehmcremealt: #D9B48F;
    --lehmcreme: #rgb(0, 113, 46);
    --sand-sehr-dunkel: #918b80;
    --sand-dunkel: #c2baaa;
    --sand-mittel: #e9e5dc;
    --sand-hell:   #faf7f0;
    --braun:       #524a37; /*#2b261a */
    --braun-dunkel:   #302c21; /*#2b261a */
    --weiss: #FFFFFF;
    --schwarz: #000000;
  }