html {
    font-size: 108%;
    letter-spacing: 0.03em;
  }
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
    overflow-x: hidden;
  }
h1, h2, h3, h4, h5 {
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  color: var(--immergruen);
}
h1 {
  font-size: 2.4rem;
  max-width: 36ch;
  line-height: 1;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
}
h2 {
  font-size: 2.3rem;
  max-width: 40ch;
  padding-top: 3.5rem;
  padding-bottom: 0.5rem;
}
h3 {
  font-size: 1.6rem;
  max-width: 43ch;
  padding-top: 1rem;
  padding-bottom: 0em;
}
p, ul {
  max-width: 85ch;
}
hr {
  background-color: var(--immergruen);
  border-width: 2px;
}
a {color: var(--immergruen);}
a:visited {color: var(--immergruen);}
a:hover {color: var(--erdbeerrot);}
a.btn.btn-primary {
  background-color: var(--erdbeerrot);
  color: var(--weiss);
  border-color: var(--weiss);
  font-weight: bold;
  margin: 1rem 0rem;
}
a.btn.btn-secondary {
  background-color: var(--immergruen);
  color: var(--weiss);
  border-color: var(--weiss);
  font-weight: bold;
  margin: 1rem 0rem;
}
.badge.badge-pill.badge-primary {
  background-color: var(--erdbeerrot);
  font-size: 90%;
}
.badge.badge-pill.badge-secondary {
  background-color: var(--immergruen);
  font-size: 90%;
}
a svg {
  fill: var(--immergruen);
  transition-duration: 0.3s;
  height: 2rem;
}
a svg:hover {
  fill: var(--erdbeerrot);
}
.btn,
.btn.btn-secondary,
.btn.btn-primary {
  border-radius: 0;
  border-color: var(--weiss);
  font-weight: bold;
}
.btn.btn-primary {
  background-color: var(--erdbeerrot);
}
.btn.btn-secondary {
  background-color: var(--immergruen);
}
button.navbar-toggler:focus-visible,
button.navbar-toggler:focus {
  outline: 0;
}
.btn.btn-primary:focus,
.btn.btn-secondary:focus {
  box-shadow: unset;
}
button.navbar-toggler span {
  color: red;
  fill: var(--immergruen);
}
button.navbar-toggler {
  box-shadow: unset;
  border: none;
}
.btn.btn-secondary.selected {
  background-color: var(--erdbeerrot);
}
.btn.btn-primary::active,
.btn.btn-secondary:active {
  border: 0;
}
.navbar {
  padding: 0.5rem 0rem;
}
.navbar-light .navbar-nav .dropdown-menu {
  border-radius: 0;
  border-color: var(--immergruen);
}
.navbar-light .navbar-nav .dropdown-item:visited {
  background-color: var(--immergruen);
  color: var(--schwarz);
  font-weight: 700;
} 
.navbar-light .navbar-nav .dropdown-item.active,
.navbar-light .navbar-nav .dropdown-item:hover {
  background-color: var(--immergruen);
  color: var(--weiss);
  font-weight: 700;
} 
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--immergruen);
}
.navbar-light .navbar-nav .nav-link {
  color: var(--schwarz);
}
.dropdown-menu {
  padding: 0;
}
.breadcrumb {
  background-color: var(--weiss);
  padding: 0rem;
  font-size: 90%;
}
.table thead th {
  border: 0;
  border-bottom: 1px solid var(--immergruen);
}
.table td {
  border-color: var(--immergruen);
}
textarea.form-control {
  height: 400px;
}
/* Volle Bildschirmbreite */
.image-full-width {
  max-width: 100vw;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}
.immergruen-full-width {
  max-width: 100vw;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
  background-color: var(--immergruen);
  text-align: center;
  color: var(--weiss);
  font-size: 120%;
  font-weight: bold;
  padding: 1.5em;
  margin-top: 2em;
}
.welcome + .immergruen-full-width {
  margin-top: 0;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.card {
  border-radius: 0;
  border: 2px solid var(--immergruen);
  filter: drop-shadow(0 1px 2px rgb(0 113 46 / 0.1)) drop-shadow(0 1px 1px rgb(0 113 46 / 0.06));
}
.card img {
  border-radius: 0;
}
.jumbotron {
  background: var(--weiss);
  border: 2px solid var(--immergruen);
  border-radius: 0;
  padding:0 2rem;
}
.jumbotron {
  margin-top: 4rem;
  background-color: var(--immergruen);
  color: var(--weiss);
}
.jumbotron h2 {
  color: var(--weiss);
}
.jumbotron .card {
  padding: 2rem;
  background-color: var(--weiss);
}
.jumbotron .card p {
  color: black;
}
.jumbotron .btn.btn-primary {
  padding: 1rem 1.5rem;
  max-width: max-content;
}
.jumbotron .btn.btn-secondary {
  padding: 1rem 1.5rem;
  max-width: max-content;
}
/**.welcome .jumbotron {
  background-color: var(--immergruen);
  color: var(--weiss);
  border-radius: 0;
  margin: 0 0 4rem ;
  padding: 0 2rem 1rem;
}**/

.my-4 {
  background-color:var(--immergruen);
}
.welcome .my-4 {
  background-color: var(--weiss);;

}
.b-4 {
  border: 2px solid var(--immergruen);
  margin-bottom: 1rem;
}
.welcome .br-4 {
  border-color: var(--weiss);
}
p.lead {
  margin-bottom: 2rem;
  font-size: 1rem;
}
h2.lead {
  font-size: 2.3rem;
  line-height: 1;
  color: var(--weiss);
}
.mwmc {
  max-width: max-content;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem 5rem;
  font-size: 90%;
}
@media screen and (max-width: 1200px) {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 960px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*
https://css-tricks.com/aspect-ratio-boxes/
*/

[style*="--aspect-ratio"] > :first-child > .image-full-width {
  width: 100vw;
}
[style*="--aspect-ratio"] > :first-child > .image-full-width {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100vw / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child > .image-full-width {
    position: absolute;
    top: 0;
    height: 100%;
  }
}

.image-container > [style*="--aspect-ratio"] > :first-child > :not(.image-full-width) {
  width: 100%;
}
.image-container > [style*="--aspect-ratio"] > :first-child > :not(.image-full-width) {  
  height: auto;
} 
@supports (--custom:property) {
  .image-container > [style*="--aspect-ratio"] {
    position: relative;
  }
  .image-container > [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  .image-container > [style*="--aspect-ratio"] > :first-child > :not(.image-full-width) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
